{% extends 'base.html' %}
{% block content %}
    <h1>Products</h1>
    <div class="row" style=" box-shadow: 0px 0px 6px #53ff1a;">
        {% for product in products %}
        <div class="col" >
            <div class="card" style="width: 18rem; margin-top: 10%;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title" ">{{ product.name }}</h5>
                    <p id="hello" class="card-text">${{ product.price }}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}